\.idea/

IntelliJ/config/options/fileEditorProviderManager\.xml

IntelliJ/config/options/recentProjects\.xml

IntelliJ/config/options/usage\.statistics\.xml

IntelliJ/config/options/window\.manager\.xml
