#browser.tabs-off #header,
.BookmarkButton,
button[title="Reader View"] {
	display: none !important;
}

.mainbar .toolbar-mainbar {
	min-height: 28px !important;
	height: 28px !important;
}

#browser.tabs-off .mainbar .toolbar-mainbar {
	margin-left: 64px;
}

.toolbar {
	height: 28px;
}

.toolbar-extensions,
.bookmark-bar.default {
	filter: grayscale(1);
	transition: filter 0.2s ease;
}

.toolbar-extensions:hover,
.bookmark-bar.default:hover {
	filter: grayscale(0);
}

.UrlBar-AddressField:focus-within {
	border-color: var(--colorBg) !important;
	box-shadow: none !important;
	outline: none !important;
}

#tabs-tabbar-container.top {
	padding-top: 0 !important;
}
